<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true" >


        <activity android:name=".ui.parent.ParentSymptomFormActivity" />
        <activity
            android:name=".ui.parent.ParentMainPanelActivity" />
        <activity android:name=".ui.parent.ParentChildDetailActivity" />
        <activity
            android:name=".ui.auth.RoleSelectActivity"
            android:exported="false" />

        <activity android:name=".ui.expert.ExpertPanelActivity" />

        <activity
            android:name=".ui.expert.ExpertChildProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.expert.ExpertPanelActivity" />

        <activity
            android:name=".ui.child.ChildPanelActivity"
            android:screenOrientation="landscape"
            android:exported="false" />


        <!-- Senin launcher aktiviten -->
        <activity
            android:name=".AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.otigoapp.MainActivity" />


        <!-- Unity’nin aktivitesi: sadece deklarasyon, LAUNCHER yok -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:resizeableActivity="false"
            android:screenOrientation="sensorLandscape"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density" />
    </application>
</manifest>
